@page "/videos"
@inherits VideosListPage

@using DotNetVideos.Blazor.Hosted.Shared.Entities.Dtos

@if (Videos == null)
{
    <p><em>Loading videos...</em></p>

}
else
{
    @foreach (VideoDto video in Videos)
    {

        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src=@video.ThumbUrl style="max-width: 100%; max-height: 100%;" />
            </div>
        </div>

        <div class="col-md-8 col-sm-6">
            <h3>@video.Title</h3>
            <p><strong>Original Title: </strong>@video.OriginalTitle</p>

            <div>
                <p><strong>Description: </strong>@video.Description</p>
            </div>
            <div>
                <p><strong>Original Description: </strong>@video.OriginalDescription</p>
            </div>

            <p>
                <a href=@($"/video/{video.Id}") class="btn btn-default" role="button">Play</a>
                <a href=@($"/video/edit/{video.Id}") class="btn btn-default" role="button">Edit</a>
            </p>
        </div>


        <div class="row">
            <a href=@($"/video/add/") class="btn btn-default" role="button">
                Add
            </a>
        </div>
    }
}


@functions {


}